/* list styles */


.list{
    width: 10rem;
    height: 15rem;
    background-color:var(--primary-white);
}

.list > li:hover{
    cursor: pointer;
    color: var(--secondary-color-dark);
}

.list-title{
    border-bottom: 1px solid var(--primary-color-dark);
    font-weight: 500;
    font-size: 1.25rem;
}


.list-group{
    border: 1px solid var(--primary-color);
    width: 80%;
}

.list-item{
    padding: 1.25rem 0.75rem;
    border-bottom: 1px solid var(--primary-color);
  
}

.list-item:hover{
    background-color: var(--primary-white);
}