.sidebar{
    width: 25%;
}

.full-wrapper{
    width: 100%;
}
.page-wrapper {
    width: 75%;
    margin: 2rem 2rem;
    overflow-y: auto;
}

.text-italic{
    font-style: italic;
}

.text-bold{
    font-style: bold;
}