.page-wrapper{
    width: 100%;
}

/* navbar styles */
.notification-badge{
    position: absolute;
    min-width: 1.2rem;
    bottom: 85%;
    right: -70%;
    height: 1.1rem;
    padding: 0.2rem;
    border-radius: 50%;
    background: var(--primary-color-light);
    color: var(--primary-text-color);
}

.search input{
    width: 20rem;
    height: 2rem;
}


/* overlay card styles */
.overlay-card{
    width: 13rem;
    height: 13rem;
    border: .5px solid var(--primary-color-light); ;
}

.overlay-text{
    top:30%;
    left: 20%;
    color: var(--primary-text-color);
}


.img-container{
  
  position: relative;
  text-align: center;
}

.responsive-img{
  width: 60rem;
  height: 25rem;

}


.horizontal-card{
    width: 27rem;
    height: 100%;
    background-color: var(--primary-color-lightest);
}

.cart-item{
    border-bottom: none;
}


/* background image styles */
.background-img-container{
  position: relative;
  text-align: center;
}

.background-img-container img{
    height: 59rem;
    width: 100%;
}

.background-img-container .centered-content{
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-img-container .centered-content > p{
  color: var(--primary-text-color);
}

